<mat-form-field appearance="fill">
    <mat-label>Выберите аудиторию</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let variant of variants" value="{{variant.id}}">"Аудитория на " + {{variant.capacity}} + " мест"</mat-option>
    </mat-select>
  </mat-form-field>