<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Войти</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" [formGroup]="form" (submit)="submit()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="login" matInput placeholder="Имя пользователя">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input formControlName="password" matInput placeholder="Пароль">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Вход в систему</button>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
      </form>
    </mat-card>
  
  </div>