<h1 mat-dialog-title>Добавить нового пользователя</h1>
<mat-dialog-content [formGroup]="form" fxLayout="column">

    <mat-select placeholder="Выбор роли" formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{role.name}}</mat-option
        >
      </mat-select>
</mat-dialog-content>